.main-content__div {
    margin-bottom: 100px;
}

.about--bottom {
    margin: 33px 0 0 0;
}

.about-main__container{
    position: relative;
}

.about-main-title {
    color: #36536B;
    font-family: "DM Serif Display";
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.431px;
    max-width: 645px;
    height: 189px;
    padding: 81px 0 0 95px;
}

.about-our__main {
    display: flex;
    flex-direction: column;
    padding-left: 95px;
    margin: 51px 0 0 0;
}

.about-our__main-bottom {
    margin: 72px 0 4px 0;
}

.about-our-inner {
    display: flex;
}

.about-our-inner>h3 {
    color: #36536B;
    font-family: DM Serif Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.246px;
    width: 255px;
    margin-right: 30px;
}

.about-our-inner p {
    width: 635px;
    color: #6C8294;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.about-our-inner:first-child {
    margin-bottom: 56px;
}

.about-photo__container {
    background-image: url(/IMG/about-page-photo.svg);
    max-width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-page-mobile-photo {
    display: none;
}

.about-photo__container {
    position: relative;
    z-index: 2;
}

.about-bubble {
    width: 780px;
    height: 780px;
    border-radius: 780px;
    background: #36536b;
    position: absolute;
    z-index: 1;
    left: -684px;
    top: -712px;
    opacity: 0.1;
}

.about-statistics__inner h4 {
    color: #36536B;
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.about-statistics__inner h3 {
    color: #BA4270;
    font-family: "DM Serif Display";
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.431px;
}

.about-statistics {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.about-statistics__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid rgba(54, 83, 107, 0.25);
    border-bottom: 1px solid rgba(54, 83, 107, 0.25);
    padding: 16px 0;
    width: 350px;
}

.about-statistics__inne:last-child {
    margin-right: unset;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

    .main-content__div {
        margin-bottom: 93px;
    }

    .main-content__div:first-child {
        padding: 40px 40px 0 39px;
        background-position: 505px -464px;
        background-size: 780px;
    }

    .about-photo__container {
        height: 265px;
    }

    .about-main-title {
        text-align: center;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369px;
        width: 565px;
        padding: 76px 0 0 0;
    }

    .about-our__main {
        padding-left: unset;
        margin: 44px 0 0 0;
    }

    .about-main__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-our-inner>h3 {
        width: 223px;
        margin-right: 10px;
    }

    .about-our-inner p {
        width: 456px;
    }

    .about-our-inner:first-child {
        margin-bottom: 63px;
    }


    .about-page-photo {
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 768px;
        max-height: 513px;
    }

    .about-bubble {
        width: 0;
        height: 0;
    }

    .about-statistics__inner h4 {
        font-weight: 100;
    }

    .about-statistics__inner {
        margin-right: 10px;
        border-top: 1px solid rgba(54, 83, 107, 0.25);
        border-bottom: 1px solid rgba(54, 83, 107, 0.25);
        padding: 16px 0;
        width: unset;
        min-width: 188px;
    }

    .about-statistics__inne:last-child {
        margin-right: unset;
    }

    .about-our__main-bottom {
        margin: 65px 0 -25px 0;
    }

    .about--bottom {
        margin: 26px 0 0 0;
        margin-bottom: unset;
    }

    .container-bottom {
        padding: 95px 0 100px;
    }
}


@media only screen and (max-width: 40em) {

    .main-content__div {
        padding: 40px 24px 0 24px;
        margin-bottom: 74px;
    }

    .about-main__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-main-title {
        text-align: center;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.246px;
        width: 327px;
        height: 152px;
        padding: 46px 0 0 0;
    }

    .about-our-inner {
        display: flex;
        flex-direction: column;
    }

    .about-our__main {
        margin: 37px 0 0 0;
        padding: unset;
    }

    .about-photo__container {
        background-image: url(/IMG/about-page-photo-mobile.png);
        width: 100%;
        height: 301px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .about--bottom {
        margin: 8px 0 0 0;
    }    

    .about-our__main-bottom {
        margin: 46px 0 47px 0;
    }

    .about-statistics__inner {
        width: unset;
    }
    .about-statistics {
        gap: 0;
    }

    .about-our-inner>h3 {
        text-align: center;
        line-height: 36px;
        font-size: 24px;
        width: 327px;
        margin-right: unset;
    }

    .about-our-inner p {
        text-align: center;
        width: 327px;
        margin-top: 15px;
    }

    .about-our-inner:first-child {
        margin-bottom: 44px;
    }

    .about-page-photo {
        display: none;
    }

    .about-page-mobile-photo {
        display: block;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 376px;
        height: 300px;
    }

    .about-bubble {
        width: 0;
        height: 0;
    }

    .about-statistics {
        flex-direction: column;
    }

    .about-statistics__inner {
        margin-right: unset;
        border-top: unset;
        border-bottom: unset;
        padding: 16px 0;
    }

    .about-statistics__inner h4 {
        text-align: center;
        opacity: 0.7;
        width: 327px;
    }

    .about-statistics__inner h3 {
        text-align: center;
        width: 327px;
    }

    .about-statistics__inner:first-child {
        border-top: 1px solid rgba(54, 83, 107, 0.25);
    }

    .about-statistics__inner:last-child {
        margin-right: unset;
        border-bottom: 1px solid rgba(54, 83, 107, 0.25);
    }
    .container-bottom {
        padding: 0 0 82px 0;
    }
}

@media screen and (min-width: 90.063em) {

    .about--bottom {
      margin: 33px auto 0 auto;
    }
}