.main-content__div:first-child {
    background-color: #edf3f8;
    background-image: url(../IMG/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position: 800px -527px;
    padding: 40px 165px 0 165px;
    overflow: hidden;
}

.main-contact-form__main-text h1 {
    font-family: DM Serif Display;
    color: rgb(54, 83, 107);
    font-size: 56px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.4307692348957062px;
    text-align: left;
    max-width: 730px;
    max-height: 133px;
    margin-top: 82px;
}

.main-content__contacts {
    display: flex;
    align-items: center;
}

.main-contact-form__main-contact {
    display: grid;
    max-width: 445px;
}

.main-contact-form__contact-form {
    display: grid;
    grid-template-columns: 445px;
    grid-template-rows: 65px 65px 65px 65px 89px;
    margin-top: 55px;
    width: 556px;
}

.contact-name {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(54, 83, 107, 0.25);
    padding-left: 20px;
    background: transparent;
    height: 42px;
}

.email-contact {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(54, 83, 107, 0.25);
    padding-left: 20px;
    background: transparent;
    height: 42px;
}

.company-name {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(54, 83, 107, 0.25);
    padding-left: 20px;
    background: transparent;
    height: 42px;
}

.title {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(54, 83, 107, 0.25);
    padding-left: 20px;
    background: transparent;
    height: 42px;
}

.message {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(54, 83, 107, 0.25);
    text-align: left;
    padding-left: 20px;
    background: transparent;
    height: 78px;
    resize: none;
    margin-top: 11px;
}

input::placeholder,
textarea::placeholder {
    color: #36536B;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.115px;
    opacity: 0.5;
}

input,
textarea {
    color: #36536B;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.115px;
    opacity: unset;
    height: 25px;
    padding-bottom: 8px;
}

.contact__main--right {
    margin-left: 124px;
    margin-top: 19px;
    height: 208px;
}

.contact__main--right h3 {
    width: 445px;
    color: #36536B;
    font-family: DM Serif Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.185px;
    opacity: 0.75;
    height: 111px;
}


.enterprise-logo__div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 72px 50px;
    width: 575px;
}

.enterprise-logo__div span {
    display: block;
    z-index: 10;
}

.span-tesla {
    background-image: url(/IMG/ENTERPRISES-LOGO/CONTACTS/tesla.svg);
    width: 129px;
    height: 17px;
}

.span-microsoft {
    background-image: url(/IMG/ENTERPRISES-LOGO/CONTACTS/microsoft.svg);
    width: 145px;
    height: 31px;
    margin-top: -7px;
}

.span-hewlett {
    background-image: url(/IMG/ENTERPRISES-LOGO/CONTACTS/hewlett-packard.svg);
    width: 140px;
    height: 27px;
    margin-top: -5px;
    margin-left: 16px;
}

.span-oracle {
    background-image: url(/IMG/ENTERPRISES-LOGO/CONTACTS/oracle.svg);
    width: 131px;
    height: 17px;
}

.span-google {
    background-image: url(/IMG/ENTERPRISES-LOGO/CONTACTS/google.svg);
    width: 96px;
    height: 33px;
    margin-top: -10px;
    margin-left: 25px;
}

.span-nvidia {
    background-image: url(/IMG/ENTERPRISES-LOGO/CONTACTS/nvidia.svg);
    width: 137px;
    height: 26px;
    margin-top: -5px;
    margin-left: 18px;
}

.main-contact-form__agree {
    display: grid;
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.11538461595773697px;
    max-width: 395px;
    text-align: left;
    color: rgba(54, 83, 107, 1);
    padding-top: 25px;
}

.ready-to-start {
    display: flex;
    margin-top: 12px;
    margin-left: -4px;
    margin-bottom: 24px;
}

.main-contact-form .button--primary-blue {
    width: 152px;
    margin-left: 2px;
}

.container-bottom {
    padding: 94px 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 51px;
    margin-top: 38px;
    margin-left: 3px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    opacity: 0.25;
    background: #36536B;
}

.container input:checked~.checkmark {
    background-color: #BA4270;
    opacity: unset;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (max-width: 768px) and (min-width: 376px) {

    .main-content__div:first-child {
        padding: 40px 40px 0 39px;
        background-position: 505px -464px;
        background-size: 780px;
    }

    .main-contact-form {
        max-width: 768px;
    }

    .main-contact-form__main-text {
        display: flex;
        justify-content: center;
    }

    .main-contact-form__main-text h1 {
        font-size: 48px;
        letter-spacing: -0.2px;
        max-width: 535px;
        max-height: 178px;
        text-align: center;
        margin-top: 73px;
    }

    .main-contact-form__main-text h1 span {
        letter-spacing: -0.3px;
        margin-left: -10px;
    }

    .email-contact,
    .company-name {
        margin-top: 3px;
    }

    .title {
        margin-top: 4px;
    }

    .message {
        margin-top: 14px;
    }

    .ready-to-start {
        margin-top: 14px;
    }

    .main-content__contacts {
        flex-direction: column;
    }

    .contact__main--right h3 {
        text-align: center;
    }

    .main-contact-form__main-contact {
        display: grid;
        max-width: 445px;
    }

    .main-contact-form__contact-form {
        max-width: 445px;
        display: grid;
        grid-template-columns: 445px;
        grid-template-rows: 65px 65px 65px 65px 89px;
    }

    .contact__main--right {
        margin-left: 44px;
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .enterprise-logo__div {
        margin-top: 47px;
        margin-left: -7px;
    }

    .container-bottom {
        padding: 100px 0;
    }

    .main-content__div:first-child {
        padding: 45px 40px 89px 39px;
    }

}

@media screen and (max-width: 376px) {
    .main-content__div:first-child  {
        padding: 40px 24px 0 24px;
        background-position: 74px -644px;
      }
      
    .main-content__contacts {
        flex-direction: column;
    }

    .main-contact-form {
        margin-top: unset;
        text-align: center;
    }

    .main-contact-form__main-text h1 {
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.25px;
        text-align: center;
        max-width: 327px;
        max-height: 116px;
        margin-left: unset;
        margin-top: 45px;
    }

    .main-contact-form__main-contact {
        display: grid;
        max-width: 327px;
        margin-left: 15px;
    }

    .main-contact-form__contact-form {
        max-width: 327px;
        display: grid;
        grid-template-columns: 327px;
        grid-template-rows: 65px 65px 65px 65px 112px;
        margin-top: 39px;
    }

    .company-name {
        margin-top: 2px;
    }

    .title {
        margin-top: 4px;
    }

    input {
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.11538461595773697px;
    }

    .ready-to-start {
        margin-top: -11px;
    }

    .main-contact-form .button--primary-blue {
        margin-left: unset;
    }

    input[type='checkbox'] {
        width: 24px;
        height: 24px;
    }

    .enterprise-logo__div {
        margin-top: 22px;
        margin-bottom: 56px;
        grid-template-columns: repeat(2, 150px);
        margin-left: 50px;
    }

    .span-tesla {
        background-image: url(/IMG/ENTERPRISES-LOGO/CONTACTS-MOBILE/tesla.svg);
        width: 107px;
        height: 15px;

    }

    .span-microsoft {
        background-image: url(/IMG/ENTERPRISES-LOGO/CONTACTS-MOBILE/microsoft.svg);
        width: 120px;
        height: 26px;
        margin-left: 6px;
        margin-top: -5px;
    }

    .span-hewlett {
        background-image: url(/IMG/ENTERPRISES-LOGO/CONTACTS-MOBILE/hewlett-packard.svg);
        width: 115px;
        height: 22px;
        margin-top: -11px;
        margin-left: -1px;
    }

    .span-oracle {
        background-image: url(/IMG/ENTERPRISES-LOGO/CONTACTS-MOBILE/oracle.svg);
        width: 108px;
        height: 14px;
        margin: -8px 0 0 19px;
    }

    .span-google {
        background-image: url(/IMG/ENTERPRISES-LOGO/CONTACTS-MOBILE/google.svg);
        width: 79px;
        height: 27px;
        margin: 1px 0 0 7px;
    }

    .span-nvidia {
        background-image: url(/IMG/ENTERPRISES-LOGO/CONTACTS-MOBILE/nvidia.svg);
        width: 113px;
        height: 22px;
        margin: 4px 0 0 6px;
    }

    .contact__main--right {
        margin-left: unset;
        margin-top: 80px;
        height: 208px;
        width: 375px;
    }

    .contact__main--right h3 {
        width: 338px;
        margin-left: 18px;
    }

    .container-bottom {
        padding: 154px 0 0 0;
    }

}