:root {
  --dark-pink: rgb(186, 66, 112);
  --mirage-blue: rgb(27, 38, 47);
  --san-juan-blue: rgb(54, 83, 107);
}

.main-content__div:first-child {
  background-color: #edf3f8;
  background-image: url(../IMG/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: 800px -527px;
  padding: 40px 165px 0 165px;
  overflow: hidden;
}

.pricing-heading {
  color: var(--san-juan-blue);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.431px;
  margin: 82px 0 72px 0;
}

.pricing-main__headings {
  color: var(--dark-pink);
  font-family: DM Serif Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.246px;
  margin-bottom: 16px;
}

.pricing-plan__description {
  color: var(--san-juan-blue);
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  min-height: 84px;
}

.pricing-plan__price {
  color: var(--san-juan-blue);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.431px;
}

.pricing-main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.list-main {
  border-top: 1px solid rgba(54, 83, 107, 0.25);
  border-bottom: 1px solid rgba(54, 83, 107, 0.25);
  margin-top: 21px;
}

.list-section {
  display: flex;
  flex-direction: column;
}

.list-section__row {
  display: inline-flex;
  padding-right: 0px;
  align-items: center;
  gap: 24px;
  padding-bottom: 8px;
}

.list-section__row:first-child {
  margin-top: 24px;
}

.list-section__row:last-child {
  margin-bottom: 16px;
}

.empty-checkbox {
  padding-left: 36px;
  opacity: 0.5;
}

.list-section__row span {
  color: var(--san-juan-blue);
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.pricing-main .button--primary-blue {
  margin-top: 24px;
}

.list-section__row img {
  width: 12px;
  height: 8px;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .main-content__div:first-child {
    padding: 40px 40px 0 39px;
    background-position: 505px -464px;
    background-size: 780px;
  }

  .pricing-main__container {
    text-align: center;
  }

  .pricing-main {
    grid-template-columns: repeat(3, 223px);
  }

  .pricing-heading {
    font-size: 48px;
    letter-spacing: -0.369px;
    margin: 74px 0 69px 0;
  }

  .pricing-main__headings {
    font-size: 24px;
    letter-spacing: -0.185px;
    margin-bottom: 13px;
  }

  .pricing-plan__description {
    min-height: 111px;
  }

  .pricing-plan__price {
    font-size: 48px;
    letter-spacing: -0.369px;
    margin-bottom: 21px;
  }

  .pricing-main {
    grid-column-gap: 10px;
  }

  .list-main {
    display: flex;
    justify-content: center;
  }

  .pricing-main .button--primary-blue {
    margin-top: 26px;
  }

  .pricing-main__container .container-bottom {
    padding: 100px 0 189px 0;
  }
}

@media only screen and (max-width: 40em) {
  .main-content__div:first-child {
    padding: 40px 24px 0 24px;
    background-position: 74px -644px;
  }

  .pricing-main__container {
    text-align: center;
  }

  .pricing-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing-main>section {
    width: 327px;
  }

  .pricing-heading {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.246px;
    margin: 45px 0 47px;
  }

  .pricing-main__headings {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.185px;
    margin-bottom: 17px;
  }

  .pricing-plan__description {
    margin-bottom: 9px;
  }

  .pricing-plan__price {
    font-size: 56px;
    letter-spacing: -0.369px;
  }

  .pricing-main {
    grid-column-gap: 10px;
  }

  .list-main {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .pricing-main .button--primary-blue {
    margin-bottom: 46px;
  }

  button.button-text.button--primary-blue.button-mobile {
    margin-bottom: 80px;
  }

}