/* NEW CODE */

.header-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 60px;
}

/* NEW CODE */
.header-container__grid-in-columns h1 {
    color: #36536b;
    font-family: 'DM Serif Display';
    font-size: 72px;
    line-height: 72px;
    font-weight: 400;
    margin-bottom: 48px;
    letter-spacing: -.55px;
    max-width: 527px;
}

/* NEW CODE */
img.header-container__phone-img {
    width: 269px;
    height: 522px;
    margin: 43px 93px 0 0;
}

.header-container__grid-in-columns {
    padding-top: 152px;
}

.header-container__phone-img-grid {
    padding-top: 20px;
}

input.header-container__email::placeholder {
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #36536b;
    opacity: 0.5;
    padding: 16px 276px 14px 0px;
}



.header-container__have-any-questions-span {
    color: rgb(108, 130, 148);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding-left: 28px;
}

.header-container__contact-us {
    color: rgba(108, 130, 148, 1);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
}

.header-container__have-any-questions {
    padding-top: 15px;
}

.header-container__have-any-questions a {
    text-decoration: none;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    /* ALL NEW CODE */

    .header-container__grid-in-columns h1 {
        font-size: 48px;
        letter-spacing: -0.37px;
        margin-left: -2px;
        margin-top: 0;
        line-height: 56px;
        margin-bottom: 33px;
    }

    .header-container {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        padding-bottom: 100px;
    }

    img.header-container__phone-img {
        width: 170px;
        height: 304px;
        margin: 26px 0 0 0;
    }

    .header-container__grid-in-columns {
        padding-top: 43px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-container__nav-form {
        grid-template-columns: 280px 180px;
    }

    .header-container__have-any-questions-span {
        padding-left: unset;
    }
}




@media screen and (max-width: 1024px) and (max-width: 1024px) {
    /* NEW CODE padding: 41px 23px 0 39px; */



}




/* @media screen and (max-width: 768px) and (min-width: 376px) {

    .header-container {
        display: block;
    }

    .header-container__grid-in-columns {
        padding-top: 0;
        height: 208px;
    }

    .header-container__phone-img {
        min-height: unset;
        width: 252px;
        height: 397px;
        padding-left: unset;
        margin: 13px 173px 7px 173px;
    }

    .header-container__phone-img-grid {
        margin-bottom: -20px;
        padding-top: unset;
    }

    .header-container__nav-form {
        margin-left: 125px;
    }

    .input.header-container__email {
        margin-top: 10px;
    }

    

    .header-container__nav-form .button--primary-pink {
        width: 173px;
        height: 48px;
        margin-top: 10px;
    }

    .header-container__have-any-questions-span {
        color: rgb(108, 130, 148);
        font-family: Public Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        padding-left: 28px;
    }

    .header-container__have-any-questions {
        margin-left: -30px;
    }

    .header-container__contact-us {
        color: rgba(108, 130, 148, 1);
        font-family: Public Sans;
        font-size: 15px;
        font-weight: 700;
        line-height: 17.63px;
        letter-spacing: 0px;
    }

    input.header-container__email {
        margin-top: 10px;
    }

} */

@media only screen and (max-width: 40em){

    .header-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }

    .header-container__phone-img-grid {
        padding-top: 9px;
        padding-left: unset;
    }

    .header-container__nav-form .button--primary-pink {
        margin-left: 0px;
        margin-top: 14px;
        width: 327px;
        height: 48px;
        letter-spacing: -0.3px;
    }

    #formScheduleDemo .button--primary-pink {
        margin-left: 0;
        margin-top: 0;
        width: 327px;
        height: 48px;
        letter-spacing: -0.3px;
    }

    #formScheduleDemo  .container-bottom h2 {
        margin-bottom: 28px;
    }
    
    img.header-container__phone-img {
        width: 129px;
        height: 283px;
        margin: 43px 93px 0 0;
        margin: 0 auto;
    }

    .header-container__phone-img-grid {
        display: grid;
        max-width: 376px;

    }

    .header-container__grid-in-columns h1 {
        max-width: 327px;
        font-size: 32px;
        letter-spacing: -0.24px;
        line-height: 36px;
        margin-bottom: 25px;
    }

    input.header-container__email {
        width: 300px;
    }

    .header-container__grid-in-columns {
        margin-top: 2px;
        padding-top: unset;
    }

    .header-container__nav-form {
        padding-left: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .header-container__have-any-questions {
        padding: 0;
        margin-left: -33px;
        margin-top: 24px;
    }

    .header-container__contact-us {
        letter-spacing: 0.2px;
    }

    .container-review {
        flex-direction: column;
        align-items: center;
        padding-top: 78px;
        gap: 49px
    }

} 