body {
  overflow-x: hidden;
}

:root {
  --dark-pink: rgb(186, 66, 112);
  --link-water-white: rgb(251, 252, 254);
  --san-juan-blue: rgb(54, 83, 107);
  --mirage-blue: rgb(27, 38, 47);
  --charm-pink: rgb(218, 109, 151);
  --light-san-juan-blue: rgb(108, 130, 148);
}

.main-content__div,
.main-content__div--bottom {
  margin: 0 auto;
}

.main-content__div,
.main-content__div--bottom {
  padding: 40px 148px 0 165px;
}


.main-content {
  background-color: #edf3f8;
}

.header-bubble__home {
  background-image: url(../IMG/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: 124.5% 389%;
}

.main-bubble {
  background-image: url(../IMG/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: 124.5% -527px;
  background-size: 780px;
}

.menu-mobile {
  display: none;
}

.dropdown {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

.desktop-navbar__div {
  display: flex;
}

.button-text {
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.115px;
  border-radius: 24px;
}

.button--primary-pink {
  background-color: var(--dark-pink);
  border: none;
  width: 173px;
  height: 48px;
  color: var(--link-water-white);
}

.button--primary-blue {
  background-color: transparent;
  border: 1px solid var(--san-juan-blue);
  width: 168px;
  height: 48px;
  color: var(--san-juan-blue);
}

.button--primary-pink:hover,
.button--primary-pink:active {
  cursor: pointer;
  background-color: var(--charm-pink);
}

.button--primary-blue:hover,
.button--primary-blue:active {
  cursor: pointer;
  background-color: var(--san-juan-blue);
  color: var(--link-water-white);
}

.button-navbar {
  z-index: 3;
}

.container-navbar {
  display: flex;
  align-items: center;
}

.container-navbar li a {
  color: rgb(56, 85, 110);
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.container-navbar li {
  padding-left: 40px;
  opacity: 0.7;
}

.container-navbar li:hover {
  opacity: 1;
}

.header-logo {
  margin-top: 5px;
}


.container-navbar li:first-child {
  padding-left: 64px;
}

.container-navbar a:hover {
  color: #36536b;
  opacity: 1;
}

.container-bottom {
  display: flex;
  justify-content: space-between;
  padding: 96px 0;
  align-items: center;
}

.header-container__nav-form {
  display: flex;
  justify-content: flex-end;
  max-width: 445px;
}

#formScheduleDemo #inputScheduleDemo::placeholder {
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #36536b;
  opacity: 0.5;
  padding: 16px 276px 14px 0px;
}

#formScheduleDemoTop .button--primary-pink {
  z-index: 9;
  margin-left: -170px;
}

#formScheduleDemoTop .error-message,
#formScheduleDemo .error-message {
  margin: 10px 0 0 30px;
  text-align: left;

}

.error-message {
  color: #F00;
  font-family: Public Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.085px;
}

.button-bottom {
  z-index: 2;
  position: absolute;

}

.container-bottom h2 {
  color: #36536b;
  font-family: DM Serif Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.369px;
  white-space: nowrap;
}

input.header-container__email {
  width: 425px;
  height: 48px;
  background-color: rgb(251, 252, 254);
  color: #36536b;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 25px;
  border: 0px solid #FBFCFE;
  padding: 0px 0px 0px 28px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

footer {
  width: 100%;
  height: 100px;
  background: #1b262f;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  z-index: 20;
  position: relative;
  height: 100px;
  padding: 0 148px 0 165px;
}

.footer--left,
.footer--right {
  display: flex;
}

.footer--right {
  width: 120px;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 40px;
}

.footer-links li {
  margin-right: 40px;
}

.footer-links a {
  text-decoration: none;
  color: #fbfcfe;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.7;
}

.footer-links a:hover {
  opacity: unset;
}

.footer-companylogo {
  margin-right: 64px;
}

.footer--right li {
  margin-right: 20px;
}

.footer--right li:last-child {
  margin-right: 0;
}

.footer-bubble {
  width: 780px;
  height: 780px;
  border-radius: 780px;
  background: #36536b;
  position: relative;
  z-index: 3;
  right: -390px;
  bottom: 236px;
  float: right;
  opacity: 0.15;
}

.footer--right span {
  height: 24px;
  width: 24px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer--right span.footer-twitter__link {
  background-size: unset;
}

.footer-facebook__link {
  background-image: url(../IMG/facebook-logo.svg);
}

.footer-twitter__link {
  background-image: url(../IMG/twitter-logo.svg);
}

.footer-linkedin__link {
  background-image: url(../IMG/linkedin-logo.svg);
}

.footer-facebook__link:hover {
  background-image: url(../IMG/facebook-logo--pink.svg);
}

.footer-twitter__link:hover {
  background-image: url(../IMG/twitter-logo--pink.svg);
}

.footer-linkedin__link:hover {
  background-image: url(../IMG/linkedin-logo--pink.svg);
}


#formScheduleDemo #inputScheduleDemo:-webkit-autofill,
#formScheduleDemo #inputScheduleDemo:-webkit-autofill:hover,
#formScheduleDemo #inputScheduleDemo:-webkit-autofill:focus,
#formScheduleDemo #inputScheduleDemo:-webkit-autofill:active,
#formScheduleDemoTop #inputScheduleDemoTop:-webkit-autofill,
#formScheduleDemoTop #inputScheduleDemoTop:-webkit-autofill:hover,
#formScheduleDemoTop #inputScheduleDemoTop:-webkit-autofill:focus,
#formScheduleDemoTop #inputScheduleDemoTop:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fbfcfe inset, 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  -webkit-text-fill-color: #36536b;
}

.container-review {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
  font-family: "Public Sans";
  padding-top: 43px;
  gap: 30px;
}

.container-column__finances {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-column__banking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-column__consumer-payments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-review img {
  width: 106px;
  height: 106px;
}

.container-review h3 {
  max-width: 350px;
  height: 25px;
  color: #36536B;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.138px;
  margin: 32px 0 16px 0;
  text-wrap: nowrap;
}

.container-review p {
  max-width: 350px;
  color: #6C8294;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.115px;
}

.container-column__finances-photo {
  margin-right: 15px;
}

@media screen and (min-width: 90.063em) {

  .main-content,
  .main-content__div--bottom,
  .about-photo__container {
    margin: 0 auto;
  }

  .main-content__div,
  .who-we-work,
  .main-content__div--bottom {
    max-width: 1110px;
  }

  .about-photo__container {
    max-width: 1440px !important;
  }

  .dropdown {
    display: none;
  }

  footer {
    display: flex;
    justify-content: center;
  }

  footer>div {
    width: 1440px;
    overflow: unset !important;
  }

  .who-we-work__section {
    display: flex;
    justify-content: center;
    background: #1b262f;
  }

  .who-we-work {
    overflow: unset !important;
    grid-template-columns: 638px 449px !important;
  }

  .header-bubble__home,
  .gray-bubble,
  .main-bubble {
    background-image: unset;
    z-index: 1;
    position: relative;
  }

  .main-bubble__large {
    width: 780px;
    height: 780px;
    border-radius: 780px;
    background: #36536b;
    position: absolute;
    z-index: -1;
    right: -154px;
    top: -527px;
    float: right;
    opacity: 0.15;
  }

  .header-bubble__large {
    width: 780px;
    height: 780px;
    border-radius: 780px;
    background: #36536b;
    position: absolute;
    z-index: -1;
    right: -159px;
    bottom: 129px;
    float: right;
    opacity: 0.15;
  }

  .gray-bubble__large {
    width: 780px;
    height: 780px;
    border-radius: 780px;
    background: #36536b;
    position: absolute;
    z-index: -1;
    right: -406px;
    top: 448px;
    float: right;
    opacity: 0.15;
  }

  .about-bubble {
    width: 780px;
    height: 780px;
    border-radius: 780px;
    background: #36536b;
    position: absolute;
    z-index: 1;
    left: -693px !important;
    top: -712px !important;
    opacity: 0.1;
  }

  .who-we-work__section {
    overflow: hidden;
    height: 472px;
  }

  .who-we-work,
  .gray-bubble {
    background-image: unset !important;
  }

  .who-we-bubble {
    width: 780px;
    height: 780px;
    border-radius: 780px;
    background: #36536B;
    position: relative;
    z-index: 3;
    left: -400px;
    top: -730px;
    opacity: 0.15;
  }

}



@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .main-content__div {
    padding: 40px 39px 0 39px;
  }

  .main-content__div--bottom {
    padding: 40px 23px 0 39px;
  }

  .header-bubble__home {
    background-position: center -663px;
    background-size: 949px;
  }

  .main-bubble {
    background-position: 501px -464px;
    background-size: 780px;
  }

  .menu-mobile {
    display: none;
  }

  .dropdown {
    display: none;
  }

  .footer {
    padding: 0 40px 0 39px;
  }

  .navbar-left img {
    width: 135px;
    height: 38px;
  }

  .navbar-left li:nth-child(2) {
    padding-left: 64px;
  }

  .container-bottom {
    flex-direction: column;
    align-items: center;
    padding: 100px 0 85px;
    margin-left: -16px;
  }

  .container-bottom h2 {
    margin-bottom: 40px;
  }

  #formScheduleDemo .button--primary-pink {
    margin-top: 0;
  }

  .container-review img {
    width: 88px;
    height: 88px;
  }

  .container-review {
    padding-top: 100px;
    gap: 30px;
    max-width: 680px;
  }

  .container-column__finances-photo {
    margin-right: 8px;
  }

  .container-column__banking-logo,
  .container-column__consumer-payments-logo {
    margin-left: -20px;
  }

  .container-review h3 {
    margin-right: 24px;
  }

  .container-review p {
    margin-left: -15px;
  }

  .container-review p:last-child {
    margin-left: -19px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1126px) {
  img.header-container__phone-img {
    margin: 43px -38px 0 0 !important;
  }

  .container-bottom {
    gap: 28px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1212px) {
  .who-we-work__info {
    width: 342px !important;
  }

  .who-we-work {
    padding: 100px 145px 100px 108px !important;
  }
}

@media only screen and (min-width: 376px) and (max-width: 640px) {
  .who-we-work {
    column-gap: 0 !important;
  }
}

@media only screen and (min-width: 641px) and (max-width: 740px) {

  .container-navbar li {
    padding-left: 25px !important;
  }

  .container-navbar li:first-child,
  .footer-companylogo {
    padding-left: 30px !important;
  }

  .footer-companylogo {
    margin-right: 30px !important;
  }

  .footer {
    padding: 0 40px 0 1px !important;
  }

  .footer-links li {
    margin-right: 25px !important;
  }

  .container-review {
    gap: 15px;
  }
}

@media only screen and (max-width: 40em) {

  * {
    text-align: center;
  }

  .main-content__div {
    padding: 36px 24px 0 24px;
  }

  .main-content__div--bottom {
    padding: 41px 24px 0 24px;
  }

  .header-bubble__home {
    background-position: -202px -550px;
  }

  .main-bubble {
    background-position: 74px -644px;
  }

  #formScheduleDemoTop .button--primary-pink {
    margin-left: unset;
  }

  .who-we-work__section {
    padding: 0 24px 0 24px;
  }

  .main-content {
    position: unset;
    overflow: hidden;
  }

  .container-navbar {
    display: none;
  }

  .navbar-right {
    display: none;
  }

  .menu-mobile {
    display: flex;
    margin-left: 164px;
  }

  .button-mobile-menu {
    width: 252px;
  }

  .dropdown {
    position: relative;
    display: flex;
    z-index: 20;
  }

  .dropdown-content {
    display: block;
    max-width: 0;
    overflow: hidden;
    position: absolute;
    top: -55px;
    right: -23px;
    background-color: #1b262f;
    background-image: url(../IMG/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position: -277px -550px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    width: 300px;
    height: 685px;
    z-index: 20;
    transition: max-width 0.7s ease-in-out;
    text-align: center;
  }

  .dropdown-content ul{
    margin-top: 68px;
  }

  .show {
    max-width: 300px;
  }

  .dropdown-content li {
    list-style-type: none;
  }

  .dropdown-content li:first-child {
    text-align: right;
    margin-top: 48px;
    margin-bottom: 8px;
    margin-right: 27px;
  }

  .dropdown-content li:nth-child(2) {
    padding-bottom: 27px;
  }

  .dropdown-content a {
    color: #fbfcfe;
    text-align: center;
    font-family: Public Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    opacity: 0.7;
  }

  .dropdown-content li:nth-child(6) {
    padding-top: 16px;
  }

  .container-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 79px 0 70px;
  }

  .container-bottom h2 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.246px;
    margin-bottom: 32px;
  }

  .div-error {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;

  }

  #formScheduleDemo {
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    width: 328px
  }

  .div-error #errorTop {
    padding-left: unset;
    margin-top: 10px;
    grid-column: unset;
    margin-left: unset;
    text-align: center;
    padding-bottom: 58px;
  }

  #formScheduleDemo.div-error .button-bottom {
    margin-bottom: unset;
  }

  #formScheduleDemo #inputScheduleDemo {
    margin-bottom: 16px;
    width: 300px;
    left: 0px;
  }

  .error-message {
    display: none;
  }

  .visible{
    display: block;
  }

  .button-bottom {
    width: 327px;
    position: unset;
  }

  footer {
    height: 353px;
  }

  .footer {
    padding: 0 24px;
    flex-direction: column;
    height: 353px;
    justify-content: unset;
  }

  .footer-companylogo {
    margin-right: unset;
    margin: 41px 0 40px 0;
  }

  .footer--left {
    flex-direction: column;
    align-items: center;
  }

  .footer--right {
    margin-top: 39px;
  }

  .footer-links {
    margin-right: unset;
    flex-direction: column;
    align-items: center;
  }

  .footer-links li {
    margin-right: unset;
  }

  .footer-links li:nth-child(2) {
    margin: 31px 0;
  }

  .footer-bubble {
    left: 202px;
    top: -177px;
  }

  .container-column__bankings .container-column__finances {
    margin-right: unset;
  }

  .button-navbar {
    display: none;
  }

  .container-column__finances-photo {
    margin-right: 0;
  }

  .container-review h3 {
    margin-right: -2px;
  }

  .container-column__banking-logo,
  .container-column__consumer-payments-logo {
    margin-left: 0;
  }

  .header-container__nav-form {
    flex-direction: column;
  }

  .header-container__email {
    text-align: left;
  }

}